body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5c0dca;
  background: -moz-linear-gradient(45deg, #5c0dca 0%, #7f30ed 100%);
  background: -webkit-linear-gradient(45deg, #5c0dca 0%,#7f30ed 100%);
  background: linear-gradient(45deg, #5c0dca 0%,#7f30ed 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
